*.dir
CMakeFiles
CMakeCache.txt
*.cmake
*.filters
*.user
*.sdf
*.vcxproj
*.sln
*.opensdf
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
*~
/ipch
/Win32
moc*
*.so
Makefile
/install_manifest.txt
qrc*.cxx
*depends
ui_*.h
CMakeScripts
*.xcodeproj
bin
lib

/TBSE_config.h
Generated